<ul class="social-media-list">

  <li style="margin-bottom:10px;">
    <a href="https://github.com/lkdjiin">
      <img src="/images/github.png" />
      <span class="username">lkdjiin</span>
    </a>
  </li>

  <li style="margin-bottom:10px;">
    <a href="https://ruby.social/@lkdjiin">
      <img src="/images/mastodon.png" />
      <span class="username">lkdjiin</span>
    </a>
  </li>

  <li style="margin-bottom:10px;">
    <a href="https://x.com/lkdjiin">
      <img src="/images/twitter.png" />
      <span class="username">lkdjiin</span>
    </a>
  </li>

  <li style="margin-bottom:10px;">
    <a href="/atom.xml">
      <img src="/images/atom.png" />
      <span class="username">RSS</span>
    </a>
  </li>
</ul>
