<ul class="social-media-list">

  <li>
    <a href="https://github.com/lkdjiin">
      <img src="/images/github.png" />
      <span class="username">lkdjiin</span>
    </a>
  </li>

  <li>
    <a href="https://www.twitter.com/lkdjiin">
      <img src="/images/twitter.png" />
      <span class="username">lkdjiin</span>
    </a>
  </li>

  <!-- {%- if site.rss -%} -->
  <!-- <li><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>{{ site.rss | escape }}</span></a></li> -->
  <!-- {%- endif -%} -->
</ul>
