---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- assign limit = page.limit | default: site.posts.size -%}
  {%- assign recent_posts = site.posts | slice: 0, limit -%}

  {%- if recent_posts.size > 0 -%}
    {%- unless page.limit -%}
      <h2 class="post-list-heading">{{ recent_posts.size }} articles</h2>
    {%- endunless -%}
    <ul class="post-list">
      {%- for post in recent_posts -%}
      <li>
        <span class="post-meta">{{ post.date | french_date }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if page.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {%- if limit < site.posts.size -%}
      <p class="maxi-index-link">Il y a {{ site.posts.size }} articles sur ce blog.<br/>
      <a href="/blog/">Voir tous les articles</a></p>
    {%- endif -%}

  {%- endif -%}

</div>
