// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#content .blog-index a[rel="full-article"] {
  background-color: lighten(#CB5A5E, 10%);
  color: #FCF8EE;
}

#recent_posts {
  text-transform: lowercase;
}

h1.entry-title {
  text-transform: lowercase;
}
