// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#content .blog-index a[rel="full-article"] {
  background-color: lighten(#024883, 30%);
  color: #FCF8EE;
}

header[role="banner"] {
  text-align: center;
}
