// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#content .blog-index a[rel="full-article"] {
  background-color: darken($link-color, 10%);
  color: white;
}

header[role="banner"] {
  text-align: center;
}
